* {
  font-family: arial,sans-serif;
  margin: 0;
}

/* colors
  background: #15202B
  post/card background: #192734
  card accents: #22303C
  light purple: #BB86FC
  text: #FFFFFF
  grey borders: #8899A6
*/

body {
  /* padding: 20px; */
  background-color: #15202B;
  justify-content: center;
  width: auto;
  height: 100%;
}

#app {
  height: auto
}

.main-navbar {
  background-color: #15202B;
  border-bottom: white;
  border-width: 2px;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  transition: all 300ms ease-in-out;
}

.main-navbar > #link_logo {
  height: 100px;
  margin-left: 50px;
}

.main-navbar > #link_logo > img {
  height: 100px;
}

.main-navbar > #nav {
 margin-right: 50px;;
}

#nav-link {
  text-decoration: none;
  color: white;
  font-size: 2rem;
}

#nav-link:hover {
  text-decoration: underline;
  font-size: 2.4rem;
}

.scroll-down .main-navbar{
  transform: translate3d(0, -100%, 0);
}

.scroll-up .main-navbar{
  filter: drop-shadow(0 -10px 20px rgb(170,170,170))
}

.home-page {
  margin-top: 115px;
  height: 100%;
  background-image: url("https://images.pexels.com/photos/669576/pexels-photo-669576.jpeg?auto=compress&cs=tinysrgb&w=1600");
  background-size: cover;
  background-position: center;
  padding: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-shadow: 1px 1px black;
}

#logo {
  font-size: 25rem;
  margin-bottom: 30px;
}

.routine-page{
  background-color: #15202B;
  color: white;
  text-shadow: 2px 2px #15202B;
  display: grid;
  grid-template-columns: 80px 1fr 3fr 1fr 80px;
  grid-column-gap: 5px;
  width: auto;
  padding: 30px;
  margin-top: 100px;
}

.routine-page > * {
    grid-column: 2;
    min-width: 0;
}

.routine-page > .routine-header {
  background-image: url("https://images.pexels.com/photos/1271619/pexels-photo-1271619.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  background-size: cover;
  background-position: center;
  grid-column: 1 / -1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: solid #8899A6 1px;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  padding: 30px;
  font-size: 4rem;
  text-align: center;
  width: auto;
  height: 550px;
}

.add-post-form {
  width: 50%;
  margin-left: 450px;
  font-size: 2rem;
}

#add-post-btn {
  align-self: center;
  width: 30%;
  padding: 1em 2em;
  background-color: #59A9C2;
  color: white;
  border: none;
  font-size: 1rem;
  transition: all 1s ease;
  outline: none;
  text-decoration: none;
}
.routine-page > #cards > #routine_cards_title {
  font-size: 3.5rem;
}

.routine-page > #cards {
  grid-column: 2 / 5;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.routine-page > #cards > #card {
  border: #8899A6 solid 1px;
  box-shadow: 0 4px 10px 0 #22303C;
  border-radius: 2%;
  display: grid;
  grid-template-columns: 1fr 40px;
  grid-template-rows: 80px 1fr 30px;
  width: 500px;
  min-height: 400px;
  margin: 10px;
}

.routine-page > #cards > #card > #name_section {
  grid-column: 1 / -1;
  grid-row: 1 / 2;
  text-transform: uppercase;
  background-color: #22303C;
  padding: 5px;
  width: 97.5%;
  display: flex;
  flex-direction: column;
}

.routine-page > #cards > #card > #name_section > #name-btn {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.routine-page > #cards > #card > #name_section > #name-btn > button {
  background-color: #22303C;
  border: none;
  outline: none;
}

.routine-page > #cards > #card > #name_section > #name-btn > button > img:hover{
  width: 40px;
  height: 40px;
}

.routine-page > #cards > #card > #name_section > #goal_section {
  grid-column: 1 / -1;
  grid-row: 1 / 2;
  display: flex;
  flex-direction: row;
  padding: 10px;
}

.routine-page > #cards > #card > #name_section > #goal_section > #goal-title {
  margin-right: 10px;
  font-size: 1.2rem;
}

.routine-page > #cards > #card > #activ_section {
  grid-column: 1 / -1;
  grid-row: 2 / 3;
}

.routine-page > #cards > #card > #activ_section > #activ-add {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  margin-left: 10px;
}

.routine-page > #cards > #card > #activ_section > #activ-add > #menu > button{
  margin-left: 5px;
  margin-right: 5px;
}

.routine-page > #cards > #card > #activ_section > #activ_cards {
  grid-column: 1 / -1;
  grid-row: 2 / 3;
  display: flex;
  flex-wrap: wrap;
}

.routine-page > #cards > #card > #activ_section > #activ_cards > #activ_card {
  width: 200px;
  max-height: 150px;
  padding: 10px;
  margin: 10px;
  border: #8899A6 solid 1px;
  border-radius: 10%;
  box-shadow: 0 4px 10px 0 #22303C;

}

.routine-page > #cards > #card > #activ_section> #activ_cards > #activ_card > #activ-head {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.routine-page > #cards > #card > #activ_section > #activ_cards > #activ_card > #activ-head > button{
  background-color: #15202B;
  border: none;
  outline: none;
}

.routine-page > #cards > #card > #activ_section > #activ_cards > #activ_card > #activ-head > button > img{
  width: 20px;
  height: 20px;
}

.routine-page > #cards > #card > #activ_section > #activ_cards > #activ_card > #activ-head > button > img:hover{
  width: 25px;
  height: 25px;
}

.routine-page > #cards > #card > #activ_section > #miss-activ {
  display: flex;
  justify-content: center;
  align-items: center;
}

.routine-page > #cards > #card > #activ_section > #miss-activ > img {
  width: 250px;
  height: 250px;
}

.routine-page > #cards > #card > #creator {
  grid-column: 1 / -1;
  grid-row: 3 / 4;
  border-top: solid .5px ;
  padding-left: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.routine-page > #cards > #card > #creator > button{
  margin-right: 20px;
  background-color: #59A9C2;
  color: white;
  border: none;
  font-size: 1em;
  outline: none;
  text-decoration: none;
}

#container {
  height: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  margin-bottom: 50px;
}

#login-navbar {
  flex-grow: 1;
  max-height: 10%;
  min-height: 40px;
  color: gray;
  padding: 1em 0 0 1em;
}

.login-form {
  color: white;
  text-shadow: 2px 2px black;
  font-size: 2rem;
  width: 50%;
  align-self: center;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  flex-grow: 2;
  margin: 1em;
  padding-bottom: 50px;
}

.button-19 {
  appearance: button;
  background-color: #1899D6;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: din-round,sans-serif;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: .8px;
  line-height: 20px;
  margin: 0;
  outline: none;
  overflow: visible;
  padding: 13px 16px;
  text-align: center;
  text-transform: uppercase;
  touch-action: manipulation;
  transform: translateZ(0);
  transition: filter .2s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  width: 25%;
}

.button-19:after {
  background-clip: padding-box;
  background-color: #1CB0F6;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  bottom: -4px;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

.button-19:main,
.button-19:focus {
  user-select: auto;
}

.button-19:hover:not(:disabled) {
  filter: brightness(1.1);
}

.button-19:disabled {
  cursor: auto;
}

#addR-btn {
  text-decoration: none;
  color: white;
}

a {
  margin: 10px;
}

.account-page {
  display: flex;
  flex-direction: column;
  width: 99%;
}

.account-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: white;
  border: white;
  border-style: ridge;
  margin-top: 5px;
  margin-bottom: 50px;
  height: fit-content;
  width: 100%;
}

.account-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#user-post-title {
  justify-self: center;
  color: white;
  font-size: 3rem;
  text-shadow: 2px 2px black;
  margin-top: 50px;
}

#messages-title {
  color: white;
  margin-top: 15px;
  text-shadow: 2px 2px black;
}

.user-posts {
  justify-self: center;
  background-color: white;
  width: 50%;
  padding: 20px;
  margin-top: 20px;
}

.user-messages {
  justify-self: center;
  background-color: white;
  width: 50%;
  padding: 20px;
  margin-top: 20px;
}

.account-footer {
  color: white;
  text-shadow: 2px 2px black;
  font-size: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 100px;
  padding: 10px;
}


#social-links {
  display: flex;
  flex-direction: row;
}

#social-links p {
  padding: 10px;
}

#profile-pic {
  width: 200px;
  height: 200px;
}

#addPost-container {
  color: #FFFFFF;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 130px;
  border: solid;
  border-width: 1px;
  border-color: #8899A6;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}

#addPost-title {
  width: 90%;
}

.addPost-form {
  width: 90%;
}

#message-title {
  margin-bottom: 10px;
  margin-top: 10px;
}